<% provide :title, t(".title") %>
<h1><%= t ".option" %></h1>
<p>
  <%= link_to t(".t1"), "http://www.railstutorial.org/" %>
  <%= link_to t(".t2"), "http://www.railstutorial.org/book" %>
  <%= link_to t(".t3"), "http://screencasts.railstutorial.org/" %>
  <%= t ".t4" %>
  <%= link_to t(".t5"), "http://rubyonrails.org/" %>
  <%= t ".t6" %>
</p>
