<% provide :title, t(".title")%>
<h1><%= t ".option" %></h1>
<p>
  <%= t ".t1" %>
  <%= link_to t(".t2"), "http://www.railstutorial.org/help" %>
  <%= t ".t3" %>
  <%= link_to t(".t4"), "http://www.railstutorial.org/book" %>
</p>
