<footer class="footer">
  <small>
    The <%= link_to "Ruby on Rails Tutorial", "http://www.railstutorial.org/" %>
    by <%= link_to "Michael Hartl", "http://www.michaelhartl.com/" %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("static_pages.about.title"), about_path %></li>
      <li><%= link_to t("static_pages.contact.title"), contact_path %></li>
      <li><%= link_to t("layouts.application.news"), "http://news.railstutorial.org/" %></li>
    </ul>
  </nav>
</footer>
